body{
   background-color: #000;
   color: #fff;
}


a{
 color: white;
}

/* .transition {
 
   animation: transition 4s 1;
     z-index: 1510;
    transition: all 0.5s cubic-bezier(.19,1,.22,1) 0.2s;
    position: absolute;
    top: 18px;
    right: 0;
    overflow: hidden;
    margin-right:120px;
}
.transition ul{
 
      list-style: none;
    float: right;
    box-sizing: border-box;
    transition: all 0.45s cubic-bezier(.195,.29,.045,.995);
    margin-right: -125px;
}

.transition ul li{
    margin-left: 15px;
    pointer-events: auto;
} */

.lang{
  color: #ffffff7A;
}


ul{
  list-style-type: none;
}

nav{
    justify-content: space-between;
    align-items: baseline;
    margin-top: 25px;
    position: sticky;
     top: 18px;
    right: 30px;
    
}

nav h2{
    padding-left: 55px;
    margin-left:-3px;
}
nav ul{
    margin-right: 105px;
    float: right;
 
}

nav li:hover {
  transform: translateY(20%);
}

nav li:hover::after {
  transform: translateY(20%);
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #ffffff7A;
}

nav li {
    padding-left: 25px;
    transform: translateY(60%);
    transition: transform 0.4s ease-in-out;
    
}

.d-flex{
    display: flex;
}

.sec1{
 margin-left: 45%;
 margin-top: 80px;

}

.sec1 h5{

  color: #ffffff7A;
}

.sec1 span{
      font-weight: bold;
}


.sec1 p{
    font-size: 30px;  
    /* padding-left: 60px; */
    line-height: 1.5em;

}

.sec1 a{
    font-size: 18px;
    font-weight: bold;
}

.sec1 a:hover{
    color: #ffffff7A;
}

.sec1 a{
    text-decoration: none;
}

.subtext::after {
  content: "";
  display: block;
  width: 8.5%;
  border-bottom: 2px solid #fff;
}

/* section2 */
.title{
    color: #ffffff7A;  
}
.photogallery-main {
  display: flex;
  flex-direction: row;
  width: 1225px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 45px;
}

.photogallery-collumn {
  display: flex;
  flex-direction: column;
   
}

.photogallery-row {
  display: flex;
}

.photogallery-individual-box {
  width: 400px;
  padding-bottom: 20px;

}

.photogallery-individual-box img {
  width: 375px;
  height: 240px;
  object-fit: cover;
  transform: skew(100%);
  transition: transform 0.4s ease-in-out;
  

}

.photogallery-individual-box img:hover {
  
 transform: scale(98%);

}







footer{
  width: 1225px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  
}

footer p{
     color: #ffffff7A; 
     margin-right: 55px;
}

footer p a{
    text-decoration: none;
}

footer div{
    align-items: baseline;
    justify-content: space-between;
    margin-left: -58px ;
    font-size: 13px;
    margin-top: -21px;
     
}

footer div li{
    align-items: baseline;
    justify-content: space-between;
    padding-left: 20px;
   
}

footer ul li a{
    color: #ffffff7A; 
    text-decoration: none;
}


.footer-facebook:hover{
   color: blue;
}

.footer-twitter:hover{
    color: cornflowerblue;
}

.footer-insta:hover{
    color: burlywood;
}

.footer-drib:hover{
    color: palevioletred;
}
.footer-span::after{
  content: "";
  display: block;
  width: 35.5%;
  border-bottom: 1px solid #ffffff7A;
  margin-left: 141px;
}

.footer-span:hover{
    color: #fff;
}

/* nav {
  overflow: hidden;
}

ul {
  position: relative;
  transform: translateX(80%);
  transition: transform 0.4s ease-in-out;
}

ul:hover {
  transform: translateX(0);
} */

.transition {
    overflow: hidden;
}

.transition ul {
  position: relative;
  transform: translateX(80%);
  transition: transform 0.4s ease-in-out;
  /* float: right; */
     margin-right: 105px;
    float: right;
    font-size: 13px;
}

.transition ul:hover {
  transform: translateX(0);
}

.transition li{
    padding-left: 13px;
}