.header-transition{
  
  margin-left: 65%
}

.transition {
   
  /* background: red; */
  transition: all width 2s;
  justify-content: flex-end;
}

.transition:hover{
  width: 300px;
}

.header-transition span{
    padding-left: 20px;
}

.d-flex {
    display: flex;
}

ul{
  list-style-type: none;
}
nav{
    justify-content: space-between;
    align-items: baseline;
}

nav h2{
    padding-left: 40px;
}
nav ul{
    padding-right: 40px;
}

nav li {
    padding-left: 25px;
    transform: rotate(-135deg);

}
